body {
  background-color: lightskyblue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
div.style {
  display: block;
}
img {
  height: 150px;
  width: 150px;
}
.text {
  display: flex;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 30px;
}
.text-1 {
  display: flex;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: azure;
}

.smallText {
  font-size: 16px;
  display: flex;
}
.smallerText {
  font-size: 14px;
}

ul {
  list-style: none;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreText {
  display: block;
  font-size: 25px;
  font-family: cursive;
  font-weight: 800;
  text-decoration: underline;
}

.Score {
  display: flex;
  gap: 200px;
  margin-top: 40px;
}
.display {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
}
.playerScore,
.computerScore {
  height: 160px;
  width: 160px;
  border: 3px solid darkcyan;
  background-color: #f5f3f3;
}
.playAgain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.playAgainBtn {
  padding: 15px;
  font-size: 20px;
  font-family: fantasy;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
}
